//common
.index {
    height: 100px;
    border-top: 1px solid #bbb;
    &:last-child {
        border-bottom: 1px solid #bbb;
    }
    .row1 {
        height: 40%;
        .p-name {
            padding-left: 10px;
            font-size: 0.7em;
        }
    }
    .row2 {
        height: 60%;
    }
    .schedule {
        width: 100%;
    }
}


//header
.header-right {
    float: right;
}

//Saru一覧
.search {
    margin: 20px;
    border: 2px solid #bbb;
}
.sarus {
    margin: 20px;
}
.saru {
    padding: 0 5px;
    height: 80px;
    border-top: 1px solid #bbb;
    position: relative;
    &:last-child {
        border-bottom: 1px solid #bbb;
    }
}
.schedule {
    height: 100%;
    width: 20%;
    padding: 5px;
    float: left;
    background-color: #f5f5f5;
    position: relative;
    .date {
        height: 70%;
        width: 45%;
        background-color: #fff;
        border-radius: 0.5em;
        position: absolute;
        right: 30%;
        .month {
            background-color: #4169e1;
            border-radius: 0.5em 0.5em 0 0;
            color: #fff;
            font-size: 0.8em;
            text-align: center;
        }
        .day {
            font-size: 1.3em;
            text-align: center;
        }
        .week {
            margin-top: -5px;
            font-size: 0.5em;
            text-align: center;
        }
    }
    .time {
        height: 20%;
        position: absolute;
        bottom: 5px;
        right: 15%;
    }
}
.content {
    height: 100%;
    width: 60%;
    margin: 0 10px;
    float: left;
    .top {
        height: 30%;
    }
    .menu {
        height: 70%;
    }
}
.count {
    height: 100%;
    position: absolute;
    right: 20px;
    top: 35%;
}

//my-page
.my-sarus {
    .col-xs-3 {
        background-color: green;
    }
    .col-xs-2 {
        background-color: #bbb;
    }
    .col-xs-5 {
        background-color: skyblue;
    }
}
