<h1>Places#index</h1>
<p>Find me in app/views/places/index.html.erb</p>

<div class="container">
    <%= user_signed_in? ? (link_to "施設登録", new_place_path) : nil %>

    <% @places.each do |place| %>
    <div class="row index">
        <div class="col-4">
            <%= link_to place.name, place %>
        </div>
        <div class="col-8">
            <div class="row1"><%= place.adress %></div>
            <div class="row2"><%= place.detail %></div>
        </div>
    </div>
    <% end %>
</div>
